<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Listagem de vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Listagem de Lições
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/licoes/novo}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Nova lição</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="table-responsive">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th>Nome do projeto</th>
						<th>Texto</th>
						<th>Tipo</th>
						<th>#</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="licao : ${licoes}">
						<td th:text="${licao.projeto}"></td>
						<td th:text="${licao.texto}"></td>
						<td th:text="${licao.tipo.descricao}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs"
								th:href="@{/licoes/{codigo}(codigo=${licao.codigo})}"
								title="Editar" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-pencil"></span></a>
							<a class="btn btn-link btn-xs" 
		   								th:href="@{/licoes/delete/{codigo}(codigo=${licao.codigo})}"
		   								title="Excluir" rel="tooltip" data-placement="top" onclick="return confirm('tem certeza que deseja excluir?')">
		   							<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					
					<tr th:if="${licoes.empty}">
						<td colspan="6">Nenhuma lição cadastrada</td>
					</tr>
					
					</tbody>
			</table>
		</div>
		
		
		<!-- <div layout:include="DialogoConfirmacaoExclusao"></div> -->
	</div>
	
</section>
</body>
</html>